# Sample scripted installation file for vmware esxi
#	YOU NEED TO SET THE PASSWORD, see "rootpw" below

######################################## Initial Install ########################################

# Accept the VMware End User License Agreement
vmaccepteula

# Set the root password for the DCUI and Tech Support Mode
rootpw --iscrypted password

# clear paritions and install on the first local disk available on machine
clearpart --firstdisk --overwritevmfs
install --firstdisk --overwritevmfs

# Setup network
# network --bootproto=static --ip=192.168.1.100 --netmask=255.255.255.0 --gateway=192.168.1.1 --nameserver=192.168.1.1 --hostname=ESXHOST1
network --bootproto=dhcp --device=vmnic0

######################################## Post-Install (but pre-reboot) ########################################

# # post happens at end of installation, before reboot
# %post --interpreter=python --ignorefailure=true
# import time
# stampFile = open('/finished.stamp', mode='w')
# stampFile.write( time.asctime() )

reboot

######################################## Firstboot (post-reboot) ########################################

# firstboot happens literally, the first boot after installation
%firstboot --interpreter=busybox
sleep 30

#Enter Maintenance mode
vim-cmd hostsvc/maintenance_mode_enter

#suppress Shell Warning
esxcli system settings advanced set -o /UserVars/SuppressShellWarning -i 1
esxcli system settings advanced set -o /UserVars/ESXiShellTimeOut -i 1

#Disable IPv6
esxcli network ip set --ipv6-enabled=false

#Reboot
sleep 30
reboot

######################################## Done ########################################


